* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

header {
    display: flex;
}

header img {
    align-self: center;
    margin-right: 2rem;
}

input[type="submit"] {
    border-radius: 0.2rem;
    background-color: darkcyan;
    color: white;
    font-size: 0.8rem
}

fieldset {
    border-radius: 0.3rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 2rem;
}

fieldset input[value="Buchung hinfügen"] {
    width: 11rem;
    height: 2rem;
    font-size: 1.2rem;
}

/*startet with mailto*/
a[href ^="mailto"]::after {
    content: url("../images/mail.png");
}

legend {
    color: white;
    border: 1px solid darkblue;
    border-radius: 0.2rem;
    background-color: darkcyan;
    margin-bottom: 1rem;
}

#name {
    width: 10rem;
}


.required::after {
    content: "(erforderliche Eingabe)";
    font-size: 0.7rem;
    color: gray;
}

aside {
    color: orangered;
}

nav a:hover {
    color: orange;
}

nav a {
    color: black;
    text-decoration: none;
    margin-right: 4rem;
    font-size: 1.2rem;
}

nav a {
    display: block;
    position: relative;
    padding: 0.2em 0;
}

/* Fade in */
nav a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: hotpink;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}

nav a:hover::after,
nav a:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
}

/* Slide in */
nav li a {
    overflow: hidden;
}

nav li a::after {
    opacity: 1;
    transform: translate3d(-100%, 0, 0);
}

nav li a:hover::after,
nav li a:focus::after {
    transform: translate3d(0, 0, 0);
}

nav {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 1px solid gray;
    border-radius: 0.5rem;
    height: 100%;
    padding: 1rem;
    background: rgb(2, 0, 36);
    background: linear-gradient(30deg, rgba(2, 0, 36, 1) 0%, rgba(237, 198, 201, 1) 36%, rgba(4, 26, 32, 1) 67%, rgba(90, 135, 144, 1) 89%);
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main-container {
    height: 80vh;
}


table {
    border: 1px solid gray;
    padding: 0.5rem;
}

table thead {
    font-size: 1.2rem;
}

table thead th {
    border: 1px solid gray;
}

/*فردي*/
table tbody tr:nth-of-type(odd) {
    background-color: aquamarine;
}

/*زوجي*/
table tbody tr:nth-of-type(even) {
    background-color: rgba(7, 149, 102, 0.09);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: lightcoral;
}

#room_name {
    border-radius: 0.2rem;
}

#room_name:valid {
    color: lightseagreen;
}

#room_name:not(valid) {
    color: lightcoral;

}

.f-green {
    font-size: 2rem;
}

.left-border {
    border-left: 1px solid black;
}

footer {
    top: 95%;
    position: sticky;
}

.raum-info-container {
    display: flex;
    justify-content: space-between;
}

.raum-info-container ul {
    list-style: none;
    font-size: 1.2rem;
    margin-top: 2rem;
}

.raum-info-container ul li {
    margin: 1rem;
}

footer {
    position: inherit;
    display: flex;
    top: 92%;
    width: 99.2%;
    background: linear-gradient(30deg, rgba(2, 0, 36, 1) 0%, rgba(237, 198, 201, 1) 36%, rgba(4, 26, 32, 1) 67%, rgba(90, 135, 144, 1) 89%);
    height: 5rem;
    border-radius: 0.5rem;
    color: white;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
}

.rooom-test-container {
    display: flex;
}

.rooom-test-container button {
    height: 1.5rem;
    margin-left: 1rem;
    align-self: center;
    background-color: lightcoral;
    color: white;
    padding: 0.2rem;
    border-radius: 0.3rem;
}

.rooom-test-container button:hover {
    cursor: pointer;
    background-color: rgb(239, 32, 32);
}